.Currency-container{
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: 5rem
}

.Currencies{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 6rem;
    font-size: xx-large;
}


@media (max-width: 1150px) {
  .Currencies {
      flex-direction: column;
      font-size: x-large;
  }
}